#header{
	background-color:#00DDDD;
    width:100%;
    height:10%;
	text-align: center;
    margin:0 auto;
}

#content{
	background-color:#00DDDD;
	background-image:url(background.jpg);
	background-repeat:no-repeat;
	background-position:center;
    width:100%;
    height:80%;
	text-align: center;
    margin:0 auto;
}

#bottom{
	background-color:#00DDDD;
    width:100%;
    height:10%;
	text-align: center;
    margin:0 auto;
}

#login{
	background-color:rgba(255, 255, 0, 0.7);
    width:300px;
    height:210px;
	text-align: center;
    margin:0 auto;
}
